#myCarousel.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner{:role => "listbox"}
    .item.active
      %img.first-slide{:alt => "First slide", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="}/
      .container
        .carousel-caption
          %h1 HTML转HAML
          %p
            HTML转换HAML的转换工具
          %p
            能够方便的从HTML转换成HAML代码，支持ERB
          %p
            %a.btn.btn-lg.btn-primary{:href => "#", :role => "button"} 开始使用 »
    .item
      %img.second-slide{:alt => "Second slide", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="}/
      .container
        .carousel-caption
          %h1 Javascript/CSS压缩
          %p 将Javascript/CSS压缩成一行，减小数据传输量，提高页面响应速度。
          %p 使用YUI Compressor
          %p
            %a.btn.btn-lg.btn-primary{:href => "#", :role => "button"} 开始使用 »
    .item
      %img.third-slide{:alt => "Third slide", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="}/
      .container
        .carousel-caption
          %h1 Javascript转换成CoffeeScript
          %p 
            Javascript转换成CoffeeScript的工具
          %p
            能够方便的从Javascript转换成CoffeeScript的工具
          %p
            %a.btn.btn-lg.btn-primary{:href => "#", :role => "button"} 开始使用 »
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next
/ /.carousel
/
  Marketing messaging and featurettes
  \==================================================
/ Wrap the rest of the page in another container to center all the content.
.container.marketing
  / Three columns of text below the carousel
  .row
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "140", :src => image_path("logos/haml.jpg"), :width => "140"}/
      %h2 HTML转HAML
      %p
        HTML转换HAML的转换工具，支持ERB
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} 开始使用 »
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "140", :src => image_path("logos/javascript.jpg"), :width => "140"}/
      %h2 Javascript/CSS压缩
      %p Javascript/CSS压缩工具
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} 开始使用 »
    / /.col-lg-4
    .col-lg-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "140", :src => image_path("logos/coffeescript.png"), :width => "140"}/
      %h2 JS转Coffee
      %p 
        Javascript转换成CoffeeScript的工具
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} 开始使用 »
    / /.col-lg-4
  / /.row
  / START THE FEATURETTES
  / %hr.featurette-divider/
  / .row.featurette
  /   .col-md-7
  /     %h2.featurette-heading
  /       First featurette heading.
  /       %span.text-muted It'll blow your mind.
  /     %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  /   .col-md-5
  /     %img.featurette-image.img-responsive.center-block{:alt => "Generic placeholder image", "data-src" => "holder.js/500x500/auto"}/
  / %hr.featurette-divider/
  / .row.featurette
  /   .col-md-7.col-md-push-5
  /     %h2.featurette-heading
  /       Oh yeah, it's that good.
  /       %span.text-muted See for yourself.
  /     %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  /   .col-md-5.col-md-pull-7
  /     %img.featurette-image.img-responsive.center-block{:alt => "Generic placeholder image", "data-src" => "holder.js/500x500/auto"}/
  / %hr.featurette-divider/
  / .row.featurette
  /   .col-md-7
  /     %h2.featurette-heading
  /       And lastly, this one.
  /       %span.text-muted Checkmate.
  /     %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  /   .col-md-5
  /     %img.featurette-image.img-responsive.center-block{:alt => "Generic placeholder image", "data-src" => "holder.js/500x500/auto"}/
  / %hr.featurette-divider/
  %footer
    %p.pull-right
      %a{:href => "#"} 回到顶端
    %p
      \© 2015 Website made by happybai
      %a{:href => "https://github.com/happybai"} Github
      \·
      %a{:href => "https://github.com/happybai/toolbox"} 网站源码